@import url("assets/fonts/karla.css");

* {
	font-family: "Karla"; 
} 

body {
	min-height: 100vh;
	min-width: 100vw;
    margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-size: 14px; 
}


#pagecontent {
	flex-grow: 1;
	margin: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
}


.hidden {
	display: none !important;
}