@import url("assets/fonts/karla.css");

* {
	font-family: "Karla"; 
} 

html {
	scrollbar-gutter: stable;
}

body {
	min-height: 100vh;
    margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	font-size: 14px; 
	overflow-y: scroll;

}


#pagecontent {
	flex-grow: 1;
	margin: 0;
	padding: 10px;
	display: flex;
	flex-direction: column;
}


.hidden {
	display: none !important;
}