{{template "layoutdasar" .}}

{{define "pagestyle"}}
	<link rel="stylesheet" href="/template/form.css">
	<link rel="stylesheet" href="/asset/data/pages/login/login.css">
{{end}}


{{define "pagemodule"}}
	<script type="module">
		import * as ui from '/asset/data/pages/login/login.mjs'
		window.$ui = ui
	</script>
{{end}}


{{define "pagecontent"}}

	<h1>Login</h1>
	<form id="login-form" method="post" action="/user/login" onsubmit="return window.$ui.Submit(this)">
		<input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
		<input type="hidden" name="referer" value="{{.Data.Referer}}">
		{{with .Form.Errors.Get "login"}}
		<div>
			<div class="errorbox">{{.}}</div>
		</div>
		{{end}}
		<div class="form-group">
			<label for="email" type="caption">Email</label>
			<input type="text" name="email" id="login-obj_email" autocomplete="off" validation="email" value="{{.Data.Email}}" class='{{with .Form.Errors.Get "email"}}invalid{{end}}'>
			{{with .Form.Errors.Get "email"}}
				<label class="errormessage">{{.}}</label>
			{{end}}
		</div>

		<div class="form-group">
			<label for="password" type="caption">Password</label>
			<input type="password" name="password" id="login-obj_password" autocomplete="off"  class='{{with .Form.Errors.Get "password"}}invalid{{end}}'>
			{{with .Form.Errors.Get "password"}}
				<label class="errormessage">{{.}}</label>
			{{end}}
		</div>

		<div>
			<input type="checkbox" name="rememberme" id="login-obj_rememberme" value="on">	
			<label for="rememberme">Remember Me</label>
		</div>	

		<div class="form-group">
			<button type="submit">Login</button>
		</div>
	</form>

{{end}}


