{{template "layoutdasar" .}}


{{define "pagestyle"}}
	<link rel="stylesheet" href="/asset/data/pages/pricing/pricing.css">
{{end}}

{{define "pagemodule"}}
	<script type="module">
		import * as ui from '/asset/data/pages/pricing/pricing.mjs'
		window.$ui = ui
	</script>
{{end}}

{{define "pagecontent"}}
	<h3>Price Labeling</h3>
	<div>
		<form id="pricing-form" method="post" action="/module/pricing" onsubmit="return false">
			<div>
				<label for="pricing-obj_site_id">Store</label>
				<select name="site_id" id="pricing-obj_site_id">
				</select>
			</div>
		</form>
	</div>
	<div>
		<button id="pricing-btn_start">Start</button>
	</div>
{{end}}

